---
export const prerender = false;
import Layout from "../layouts/Layout.astro";

// Incrementar contador de visitas con día horas y segundos
const date = new Date();
---

<Layout>
	<main class="bg-gray-900 text-white h-screen grid place-content-center">
		<section
			class="w-fit p-12 bg-amber-50/30 border border-amber-50/50 rounded-lg"
		>
			<h1 class="text-5xl font-bold mb-12">SEO Data Tools</h1>
			<p class="w-fit text-2xl font-medium flex flex-col gap-4">
				<span>Fecha:</span>
				<span class="bg-gray-800 p-4 rounded-lg">{date}</span>
			</p>
		</section>
	</main>
</Layout>
