---
export const prerender = false;
import Layout from "../layouts/Layout.astro";

const posts: any = await fetch(
	"https://aceroscrea.com/wp-json/wp/v2/posts?_embed&per_page=12",
).then((res) => res.json());
---

<Layout>
	<main class="container max-w-7xl mx-auto px-6 md:px-12">
		<article class="py-16 md:my-24">
			<h1 class="text-6xl font-bold mb-12">Blog template</h1>
			<ul class="grid grid-cols-1 md:grid-cols-3 gap-6">
				{
					posts.map((post: any) => (
						<li class="mb-4">
							<a
								href={new URL(post.link).pathname}
								class="text-xl font-bold hover:underline"
								title={post.title}
							>
								<img
									src={
										post._embedded["wp:featuredmedia"]["0"]
											.source_url
									}
									alt={post.title}
									class="w-full h-48 object-cover rounded-lg"
								/>
								{post.title.rendered}
							</a>
							<p class="text-sm">{post.date}</p>
						</li>
					))
				}
			</ul>
		</article>
	</main>
</Layout>
