---
import { getPostBySlug } from "@/functions/wp-api";

import Page from "@/layouts/Page.astro";

const { slug } = Astro.params;

if (!slug) {
    return Astro.redirect("/404");
}

const page = await getPostBySlug(Array.isArray(slug) ? slug.join("/") : slug);

if (!page) {
    return Astro.redirect("/404");
}

// Agregar caché a la respuesta
Astro.response.headers.set(
    "Cache-Control",
    "s-maxage=60, stale-while-revalidate=120",
);

function fixDuplicatedPorts(html: string): string {
    return html.replaceAll(/(https?:\/\/localhost:\d+):\1/g, "$1");
}
---

<Page content={page.content.rendered}>
    <article class="container min-h-32 flex flex-col items-start">
        <section class="grid place-content-center bg-orange-50 px-8 py-6 mt-12">
            <h1 class="text-4xl font-bold text-primary">
                {page.title.rendered}
            </h1>
        </section>
        <section class="w-4xl py-20 px-12">
            <div
                class="prose prose-lg max-w-none"
                set:html={fixDuplicatedPorts(page.content.rendered)}
            />
        </section>
    </article>
</Page>

<style is:global>
    .wp-block-image img {
        margin: auto;
    }

    .wp-block-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wp-block-columns {
        display: flex;
        gap: 2rem;
    }
</style>
