---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/organisms/Header.astro";
import { Footer7 } from "@/components/Footer";
---

<Layout>
    <Header />
    <main>
        <slot />
    </main>
    <footer>
        <Footer7 />
    </footer>
</Layout>
